@using BulkyBook.Model.OrdersAggregate
@using BulkyBook.Utility
@model OrderToReturnVM

@{
    var isAdminOrEmployee = User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee);
}

<form method="post">
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <div class="row justify-content-between align-items-center">
                    <div class="col-4 col-md-6 pb-1">
                        <i class="fas fa-shopping-cart"></i> &nbsp; Order Summary
                    </div>
                    <div class="col-4 col-md-4 offset-md-2 text-end">
                        <a asp-action="Index" class="btn btn-outline-info form-control btn-sm">Back to Orders</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-lg-6 pb-4">
                            <h4 class="text-primary">PickUp Details:</h4>

                            @foreach (var field in new[] { "FullName", "PhoneNumber", "Street", "City", "State" })
                            {
                                <div class="row my-1">
                                    <div class="col-3">@field</div>
                                    <div class="col-9">
                                        <input asp-for="OrderAddress.@field" type="text" class="form-control" readonly="@(isAdminOrEmployee ? "" : "readonly")" />
                                        <span asp-validation-for="OrderAddress.@field" class="text-danger"></span>
                                    </div>
                                </div>
                            }

                            <div class="row my-1">
                                <div class="col-3">Email</div>
                                <div class="col-9">
                                    <input asp-for="Email" readonly type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Order Date</div>
                                <div class="col-9">
                                    <input value="@Model.OrderDate.ToString()" readonly type="text" class="form-control" />
                                </div>
                            </div>

                            @if (isAdminOrEmployee)
                            {
                                <div class="row my-1">
                                    <div class="col-3">Carrier</div>
                                    <div class="col-9">
                                        <input asp-for="Carrier" type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-3">Tracking</div>
                                    <div class="col-9">
                                        <input asp-for="TrackingNumber" type="text" class="form-control" />
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="row my-1">
                                    <div class="col-3">Carrier</div>
                                    <div class="col-9">
                                        <input asp-for="Carrier" readonly type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-3">Tracking</div>
                                    <div class="col-9">
                                        <input asp-for="TrackingNumber" readonly type="text" class="form-control" />
                                    </div>
                                </div>
                            }

                            <div class="row my-1">
                                <div class="col-3">Shipping Date</div>
                                <div class="col-9">
                                    <input value="@Model.ShippingDate?.ToString()" readonly type="text" class="form-control" />
                                </div>
                            </div>

                            @if (isAdminOrEmployee)
                            {
                                <div class="row my-1">
                                    <div class="col-3">Session ID</div>
                                    <div class="col-9">
                                        <input asp-for="SessionId" readonly type="text" class="form-control" />
                                    </div>
                                </div>

                                <div class="row my-1">
                                    <div class="col-3">Payment Intent ID</div>
                                    <div class="col-9">
                                        <input asp-for="PaymentIntentId" readonly type="text" class="form-control" />
                                    </div>
                                </div>
                            }

                            <div class="row my-1">
                                <div class="col-3">
                                    @if (Model.SessionId is null)
                                    {
                                        <span>Payment Due Date</span>
                                    }
                                    else
                                    {
                                        <span>Payment Date</span>
                                    }
                                </div>
                                <div class="col-9">
                                    <input value="@Model.PaymentDueDate?.ToString()" readonly type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="row my-1">
                                <div class="col-3">Payment Status</div>
                                <div class="col-9">
                                    <input asp-for="PaymentStatus" readonly type="text" class="form-control" />
                                </div>
                            </div>

                            @if (isAdminOrEmployee)
                            {
                                <button type="submit" asp-action="UpdateOrderDetail" class="btn btn-warning form-control my-1">Update Order Details</button>
                            }
                        </div>
                        <div class="col-lg-5 offset-lg-1">
                            <h4 class="text-primary">Order Summary</h4>

                            <label class="btn btn-outline-primary form-control my-2">Order Status - @Model.OrderStatus</label>

                            <ul class="list-group mb-3">
                                @foreach (var item in Model.OrderItems)
                                {
                                    <li class="list-group-item d-flex justify-content-between p-2">
                                        <div class="row container">
                                            <div class="col-8">
                                                <h6 class="my-0 text-primary">@item.ProductTitle</h6>
                                                <small class="text-muted">Price: @item.Price.ToString("c")</small><br />
                                                <small class="text-muted">Quantity: @item.Quantity</small>
                                            </div>
                                            <div class="col-4 text-end">
                                                <p class="text-success">@((item.Quantity * item.Price).ToString("c"))</p>
                                            </div>
                                        </div>
                                    </li>
                                }
                                <li class="list-group-item bg-primary">
                                    <div class="row container">
                                        <div class="col-6">
                                            <h5 class="text-white">TOTAL</h5>
                                        </div>
                                        <div class="col-6 text-end">
                                            <h5 class="text-white">@Model.OrderTotal.ToString("c")</h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            @if (Model.PaymentStatus == PaymentStatus.ApprovedForDelayedPayment.ToString() && Model.OrderStatus == OrderStatus.Shipped.ToString())
                            {
                                <button type="submit" class="btn btn-success form-control my-1">Pay Now</button>
                            }

                            @if (isAdminOrEmployee)
                            {
                                <div class="d-grid gap-2">
                                    @if (Model.OrderStatus == OrderStatus.Approved.ToString())
                                    {
                                        <button type="submit" asp-action="StartProcessing" class="btn btn-primary my-1">Start Processing</button>
                                    }

                                    @if (Model.OrderStatus == OrderStatus.Processing.ToString())
                                    {
                                        <button type="submit" asp-action="ShipOrder" onclick="return validateInput()" class="btn btn-primary my-1">Ship Order</button>
                                    }

                                    @if (Model.OrderStatus != OrderStatus.Refunded.ToString() &&
                                   Model.OrderStatus != OrderStatus.Cancelled.ToString() &&
                                   Model.OrderStatus != OrderStatus.Shipped.ToString())
                                    {
                                        <button asp-action="CancelOrder" type="submit" class="btn btn-danger my-1">Cancel Order</button>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function validateInput() {
            const trackingNumber = document.getElementById("trackingNumber").value;
            const carrier = document.getElementById("carrier").value;

            if (!trackingNumber) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter a tracking number!',
                });
                return false;
            }

            if (!carrier) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter a carrier!',
                });
                return false;
            }

            return true;
        }
    </script>
}